body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
header{
	text-align: center;
}
img{
	width: 100%;
	height: 200px;
}
a{
	color: white;
}
.contenedor-botones{
	margin-top: 2%;
	text-align: left;
}
.nav-color{
	background: #e746ea;
}
.textos{
	margin-top: 2%;
	font-size: 2rem;
}